.tape {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 850px;
    overflow-x: auto;
    scroll-snap-type: y;
    scrollbar-color: #2F2F37;
    scrollbar-width: 8px;
}

.tape::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
    ;
}

.tape::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.wrap {
    display: flex;
    flex-direction: column;
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.blockIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    width: 304px;
}

.img {
    border: 2px solid #4C4CFF;
    width: 64px;
    height: 64px;
    background: #131316;
    border-radius: 50px;
    object-fit: contain;

}

.img:nth-child(odd) {
    margin-left: -10px;
}
.img:nth-child(even) {
    margin-left: -10px;
}

.status {
    color: #F2F2F3;
}

.link {
    text-decoration: none;
}

.number {
    color: #F2F2F3;
}

.text {
    color: #F2F2F3;
}

.total {
    color: #F2F2F3;
}