.root {
    min-width: 480px;
    height: 430px;
    margin: 180px auto 0px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F3;
    margin: 0 auto 24px;
}


.wrap div {
    width: 100%;
}

.wrap > input {
    width: 400px;
}

.wrap div div div {
    width: 100px;
    display: flex;
    justify-content: end;
}

.button_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button_wrap button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    width: 196px;
    height: 56px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 64px;
}

.wrap_text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.text {
    color: #8585AD;
    min-width: 231px;
    margin: 0;
    padding: 0;
}

.text_link a {
    color: #4C4CFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}