.body {
    width: 600px;
    height: 912px;
}

.header {
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    width: 100%;
}

.wrap {
    display: flex;
}

.subtitle {
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
}

.tab_text {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F3;
}

.block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inner {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: y;
    scrollbar-color: #2F2F37;
    scrollbar-width: 8px;
    height: 716px;
}

.inner::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
    ;
}

.inner::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.tab_text-active {
    border-bottom: 2px solid #131316;
}

.link {
    text-decoration: none;
}